{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çayxana 007</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">
</head>
<body>
    <h1>Çayxana 007 - Xoş Gəldiniz!</h1>
    <nav>
        <a href="{% url 'menu' %}">Menyu</a> |
        <a href="{% url 'reserve_room' %}">Otaq Rezervasiyası</a> |
        <a href="{% url 'special_offers' %}">Xüsusi Təkliflər</a>
    </nav>
</body>
</html>

